<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="gotham-container">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GothamContainer extends Polymer.Element {
      static get is() { return 'gotham-container'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'gotham-container'
          }
        };
      }
    }

    window.customElements.define(GothamContainer.is, GothamContainer);
  </script>
</dom-module>
