<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../login-gotham/login-gotham.html">
<link rel="import" href="../escritorio-gotham/escritorio-gotham.html">

<dom-module id="gotham-container">
  <template>
    <style>
      [hidden] {
        display: none !important;
      }

      :host {
        display: block;
      }
    </style>

    <login-gotham id="marcoLogin" hidden={{estoyLogado}} on-eventologin="llamarCuentas"></login-gotham>
    <escritorio-gotham id="a" hidden={{!estoyLogado}} idCliente="45" cierto="false"></escritorio-gotham>


  </template>

  <script>
    /**
     * `page-not-found`
     *
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class GothamContainer extends Polymer.Element {
      static get is() { return 'gotham-container'; }
      static get properties() {
        return {
          estoyLogado: {
            type: Boolean,
            value: false
          }
        };
      }

      llamarCuentas(e) {

        // Reestilizo el body para adecuarlo al escritorio
        this.parentNode.style=""
        //this.root.pagetop.style=""
        this.estoyLogado = true
        console.log("Llamando al marco de las cuentas")

        console.log(e)
        //console.log(this.$.a)
        this.$.a.pintarCuentas(e)
      }
    }



    window.customElements.define(GothamContainer.is, GothamContainer);
  </script>
</dom-module>
