<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<!-- <link rel="import" href="/src/visor-cuentas/visor-cuentas.html"> -->

<dom-module id="login-gotham">
<!--  <style>
      :host {
        display: block;
      }
    </style>-->

    <iron-ajax
      id="hacerLogin"
      url="http://localhost:4000/apitechu/V5/usuarios/login"
      method="POST"
      handle-as="json"
      on-response="mostrarResultadoLogin"
      on-error="mostrarError">
    </iron-ajax>

<!-- HTML MAQUETA ----------------------------------------------->


    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top"><i class="fa fa-joomla fa-1x"></i> Gotham National Bank</a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio">Hazte cliente <i class="fa fa-pencil-square-o fa-1x"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
    	<div class="row" style="padding-top:20px">
    		<div class="col-lg-12">
    			<div class="row" style="padding-bottom:70px">
    				<div class="col-lg-12 text-center" align="right">	<br><br>
    					<div class="form">
    					  <div class="forceColor"></div>
    					  <div class="topbar">
    						<div class="spanColor"></div>

                <input id="campo_username" class="input" type="username" placeholder="Username" value={{username::input}} />
                <input id="campo_password" class="input" type="password" placeholder="Password" value={{password::input}} />

                <!--<input type="username" class="input" id="username" placeholder="Username"/>
    						<input type="password" class="input" id="password" placeholder="Password"/>-->
    					  </div>
    					  <button class="submit" id="submit" on-click="armarInvocacion"><strong>Login</strong></button>
    					</div>
    				</div>
    			</div>
    			<div class="row letra-coda">
    				<div class="col-lg-7 text-center">
    					<p>Mi carro, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil,
    					molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit
    					soluta, eos quod consequuntur itaque. Nam.
    					</p>
    					<p>Mi carro, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil,
    					molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit
    					soluta, eos quod consequuntur itaque. Nam.
    					</p>
    					<p>Mi carro, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil,
    					molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit
    					soluta, eos quod consequuntur itaque. Nam.
    					</p>
    				</div>
    				<div class="col-lg-5 text-center">
    					<div class="row" style="padding-bottom:40px">
    						<div class="col-sm-4 text-center">
    							<img class="imagen-malos" src="img/doscaras.jpg" alt="">
    						</div>
    						<div class="col-sm-4 text-center">
    							<img class="imagen-malos" src="img/joker.jpg" alt="">
    						</div>
    						<div class="col-sm-4 text-center">
    							<img class="imagen-malos" src="img/miranda.jpg" alt="">
    						</div>
    					</div>
    					<div class="row">
    						<div class="col-sm-4 text-center">
    							<img class="imagen-malos" src="img/bane.jpg" alt="">
    						</div>
    						<div class="col-sm-4 text-center">
    							<img class="imagen-malos" src="img/ras.jpg" alt="">
    						</div>
    						<div class="col-sm-4 text-center">
    							<img class="imagen-malos" src="img/espanta.jpg" alt="">
    						</div>
    					</div>
    				</div>
    			</div>

    		</div>
    	</div>
    </div>



  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginGotham extends Polymer.Element {
      static get is() { return 'login-gotham'; }
      static get properties() {
        return {
          username: {
            type: String,
            value: "bvonbrookr0@instagram.com"
          },
          password: {
            type: String,
            value: "uIxevkn8eA7"
          },
          logado: {
            type: Boolean,
            value: false
          }
        };
      }


      // Este es método que va a disparar el evento
      enviarEventoLoginExito(datosLogin){
        console.log("*** --> Alguien ha pulsado el botón")
        console.log(datosLogin)
        this.dispatchEvent(new CustomEvent("eventologin", {"detail":{"login":"OK"}}))
        }

      mostrarResultadoLogin(datos) {
        console.log("4. Llegaron los resultados del login")
        console.log(datos)
        console.log("5. Proceso los resultado")
        this.logado = true

        this.enviarEventoLoginExito(datos)
      }

      // Este es método que va a armar la llamada al API informando los headers
      armarInvocacion(){

        console.log("1. El usuario ha pulsado el botón")
        // this.$ es el shadow DOM
        this.$.hacerLogin.headers.mail = this.username
        this.$.hacerLogin.headers.clave = this.password
        console.log("2. Voy a enviar la petición de login "+this.username+"|"+this.password)
        console.log("Dentro de la clase: "+this.$.hacerLogin.headers.mail)
        this.$.hacerLogin.generateRequest()
        console.log("3. Petición de login enviada")

      }

    mostrarError(error){
      console.log("Llega el error")
      console.log(error)
      this.logado = false

      }

    }

    window.customElements.define(LoginGotham.is, LoginGotham);
  </script>
</dom-module>
