<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-if.html">




<dom-module id="escritorio-gotham">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>


<!--
    <p>
      ID Cliente: <input type="text" value={{idcliente::input}} />
      <button on-click="armarInvocacion">Pedir Cuentas</button> <br><br>
    </p>
-->


    <iron-ajax
      id="obtenerCuentas"
      url="http://localhost:4000/apitechu/V5/cuentas?idcliente={{idcliente}}"
      handle-as="json"
      on-response="mostrarCuentas"
      on-error="mostrarErrorCuentas">
    </iron-ajax>


<!-- INICIO MAQUETA HTML ------------------------------------------------------------------------------>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="#page-top"><i class="fa fa-joomla fa-1x"></i> 	Gotham National Bank</a>
    <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio">Accounts</a>
        </li>
        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">Cripto-Currencies</a>
        </li>
        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">Deposits</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<!-- INICIO TARJETAS -->


<div class="container" style="padding-top:6%">
<div class="row">
<!--<div class="col-sm-12 col-sm-offset-1">-->


<!-- TARJETA 1 ---------------------------------------------------------------------------->
<div class="col-md-4 col-sm-6 col-lg-4">
         <div class="card-container manual-flip">
            <div class="card">
                <div class="front">
                    <div class="cover">
                        <img src="img/batcueva.jpg"/>
                    </div>
                    <div class="user">
                        <img class="img-circle" src="img/cuentas.png"/>
                    </div>
                    <div class="content">
                        <div class="main">
                            <h1 class="name">Cuentas</h1>
                            <p class="profession">Saldo acumulado de todas sus cuentas</p>
                            <h4 class="text-center"><strong>1.000.456,00 €</strong></h4><br>
                            <a class="portfolio-item d-block mx-auto" align="center" href="#portfolio-modal-1" onFocus="blur()">
                            <center><i class="fa fa-search-plus fa-3x"></i></center>
                            </a>
                        </div>
                    </div>
                </div> <!-- end front panel -->
            </div> <!-- end card -->
        </div> <!-- end card-container -->
</div> <!-- end col sm 3 -->

<!-- TARJETA 2 ---------------------------------------------------------------------------->

<div class="col-md-4 col-sm-6 col-lg-4">
         <div class="card-container manual-flip">
            <div class="card">
                <div class="front">
                    <div class="cover">
                        <img src="img/batcueva2.jpg"/>
                    </div>
                    <div class="user">
                        <img class="img-circle" src="img/gold.png"/>
                    </div>
                    <div class="content">
                        <div class="main">
                            <h1 class="name"><strong>Depósitos</strong></h1>
                            <p class="profession">Total acumulado en depósitos</p>
                            <h4 class="text-center"><strong>565.455,10 €</strong></h4><br>
                            <a class="portfolio-item d-block mx-auto" align="center" href="#portfolio-modal-usuario" onFocus="blur()">
                            <center><i class="fa fa-search-plus fa-3x"></i></center>
                            </a>
                        </div>
                    </div>
                </div> <!-- end front panel -->
            </div> <!-- end card -->
        </div> <!-- end card-container -->
</div> <!-- end col sm 3 -->

<!-- TARJETA 3 ---------------------------------------------------------------------------->

<div class="col-md-4 col-sm-6 col-lg-4">
         <div class="card-container manual-flip">
            <div class="card">
                <div class="front">
                    <div class="cover">
                        <img src="img/batcueva3.jpg"/>
                    </div>
                    <div class="user">
                        <img class="img-circle" src="img/bitcoin.png"/>
                    </div>
                    <div class="content">
                        <div class="main">
                            <h1 class="name">Criptodivisas</h1>
                            <p class="profession">Saldo contravalorado a euros</p>
                            <h4 class="text-center"><strong>2.185,98 €</strong></h4><br>
                            <a class="portfolio-item d-block mx-auto" align="center" href="#portfolio-modal-movimientos" onFocus="blur()">
                            <center><i class="fa fa-search-plus fa-3x"></i></center>
                            </a>
                         </div>
                    </div>
                </div> <!-- end front panel -->
            </div> <!-- end card -->
        </div> <!-- end card-container -->
</div> <!-- end col sm 3 -->


<!-- FIN TARJETAS -------------------------------------------------------------------------->

<!--</div>--> <!-- end col-sm-10 -->
</div> <!-- end row -->
</div>

<footer class="footer navbar-expand-lg bg-secondary fixed-bottom" style="padding-top:15px; padding-bottom:15px">
    <div class="container">
        <div class="row">
           <div class="col-lg-12 text-center">
             <strong>Batman  Robin</strong>
        </div>
    </div>
</footer>


<!-- FIN POSICION GLOBAL  ---------------------------------------------------------------------------->



<!-- Portfolio Modals -->

<!-- Portfolio Modal CUENTAS -->
<div class="portfolio-modal mfp-hide  letra-coda" id="portfolio-modal-1">
  <div class="portfolio-modal-dialog bg-fondoverde">
    <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
      <i class="fa fa-3x fa-times"></i>
    </a>
    <div class="container text-center">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h3 class="text-secondary mb-0">Cuentas</h3>
          <hr class="star-dark mb-5">
          <!--<img class="img-fluid mb-5" src="img/cuentas.png" alt="">-->

<!-- INICIO TABLA ----------------------------------------------------------------------------------->

                            <div class="table-responsive">
                                <table class="table table-condensed">
                                    <thead>
                                      <th align="center"># #</th>
                                        <th class="text-left">
                                            <h6><strong>IBAN</strong></h6>
                                        </th>
                                        <th>
                                            <h6><strong>Divisa</strong></h6>
                                        </th>
                                        <th>
                                             <h6><strong>Alias</strong></h6>
                                        </th>
                                        <th class="text-right">
                                            <h6><strong>Saldo</strong></h6>
                                        </th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                          <td>
                                            <a class="portfolio-item portfolio-modal-dismiss" align="center" href="#portfolio-modal-movimientos" onFocus="blur()">
                                              <i class="fa fa-table fa-2x"></i>
                                            </a>
                                            &nbsp;&nbsp;&nbsp;
                                            <a align="center" href="#portfolio-modal-1" onFocus="blur()">
                                              <i class="fa fa-random fa-2x"></i>
                                            </a>
                                          </td>
                                            <td class="text-left">
                                                ES54 34343 434343 4443 44444
                                            </td>
                                            <td>
                                                EUR
                                            </td>
                                            <td>
                                                Oud-Turnhout
                                            </td>
                                            <td class="text-right">
                                                $36,738
                                            </td>
                                        </tr>
                                        <tr>
                                          <td>
                                            <a class="portfolio-item portfolio-modal-dismiss"  align="center" href="#portfolio-modal-movimientos" onFocus="blur()">
                                              <i class="fa fa-table fa-2x"></i>
                                            </a>
                                            &nbsp;&nbsp;&nbsp;
                                            <a  align="center" href="#portfolio-modal-1" onFocus="blur()">
                                              <i class="fa fa-random fa-2x"></i>
                                            </a>

                                          </td>
                                            <td class="text-left">
                                                ES54 34343 434343 4443 44444
                                            </td>
                                            <td>
                                                EUR
                                            </td>
                                            <td>
                                                Sinaai-Waas
                                            </td>
                                            <td class="text-right">
                                                $23,789
                                            </td>
                                        </tr>
                                        <tr>
                                          <td>
                                            <a class="portfolio-item portfolio-modal-dismiss"  align="center" href="#portfolio-modal-movimientos" onFocus="blur()">
                                              <i class="fa fa-table fa-2x"></i>
                                            </a>
                                            &nbsp;&nbsp;&nbsp;
                                            <a  align="center" href="#portfolio-modal-1" onFocus="blur()">
                                              <i class="fa fa-random fa-2x"></i>
                                            </a>

                                          </td>
                                            <td class="text-left">ES54 34343 434343 4443 44444
                                            </td>
                                            <td>
                                                EUR
                                            </td>
                                            <td>
                                                Baileux
                                            </td>
                                            <td class="text-right">
                                                $56,142
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>


  <!-- FIN TABLA ----------------------------------------------------------------------------------------->

          <p class="mb-5">Mi carro, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
          <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
            <i class="fa fa-close"></i>
            Cerrar</a>
        </div>
    </div>
  </div>
</div>
</div>

<!-- FIN CUADRO DE CUENTAS -------------------------------------------------------------------------------->

<!-- Portfolio Modal DATOS USUARIO -->
<div class="portfolio-modal mfp-hide  letra-coda" id="portfolio-modal-usuario">
  <div class="portfolio-modal-dialog bg-fondoverde">
    <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
      <i class="fa fa-3x fa-times"></i>
    </a>
    <div class="container text-center">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h3 class="text-secondary mb-0">Mis datos</h3>
          <hr class="star-dark mb-5">
      <!-- Contact mis datos -->

      <div class="container">
      <div class="row">
        <div class="col-lg-4 mx-auto">
          <form name="sentMessage" id="contactForm" novalidate="novalidate">
        <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
        <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
          <div class="control-group">
          <div class="form-group floating-label-form-group controls mb-0 pb-2">
            <label>Documento</label>
            <input class="form-control" style="color:#ffffff;background-color:transparent" id="name" type="text" placeholder="Documento" required="required" data-validation-required-message="Please enter your name.">
            <p class="help-block text-danger"></p>
          </div>
          </div>
          <div class="control-group">
          <div class="form-group floating-label-form-group controls mb-0 pb-2">
            <label>Nombre</label>
            <input class="form-control" style="color:#ffffff;background-color:transparent" id="name" type="text" placeholder="Nombre" required="required" data-validation-required-message="Please enter your name.">
            <p class="help-block text-danger"></p>
          </div>
          </div>
          <div class="control-group">
          <div class="form-group floating-label-form-group controls mb-0 pb-2">
            <label>Apellidos</label>
            <input class="form-control" style="color:#ffffff;background-color:transparent" id="name" type="text" placeholder="Apellidos" required="required" data-validation-required-message="Please enter your name.">
            <p class="help-block text-danger"></p>
          </div>
          </div>
        </div>
        <div class="col-lg-4 mx-auto">
          <div class="control-group">
          <div class="form-group floating-label-form-group controls mb-0 pb-2">
            <label>Fecha de nacimiento</label>
            <input class="form-control" style="color:#ffffff;background-color:transparent" style="color:#ffffff;background-color:transparent" id="name" type="text" placeholder="Fecha de nacimiento" required="required" data-validation-required-message="Please enter your name.">
            <p class="help-block text-danger"></p>
          </div>
          </div>
          <div class="control-group">
          <div class="form-group floating-label-form-group controls mb-0 pb-2">
            <label>Género</label>
            <input class="form-control" style="color:#ffffff;background-color:transparent" id="name" type="text" placeholder="(M/F)" required="required" data-validation-required-message="Please enter your name.">
            <p class="help-block text-danger"></p>
          </div>
          </div>
          <div class="control-group">
          <div class="form-group floating-label-form-group controls mb-0 pb-2">
            <label>Email</label>
            <input class="form-control" style="color:#ffffff;background-color:transparent" id="email" type="email" placeholder="Email" required="required" data-validation-required-message="Please enter your email address.">
            <p class="help-block text-danger"></p>
          </div>
          </div>
        </div>
        <div class="col-lg-4 mx-auto">
          <div class="control-group">
          <div class="form-group floating-label-form-group controls mb-0 pb-2">
            <label>Dirección (calle)</label>
            <input class="form-control" style="color:#ffffff;background-color:transparent" id="name" type="text" placeholder="Calle" required="required" data-validation-required-message="Please enter your name.">
            <p class="help-block text-danger"></p>
          </div>
          </div>
          <div class="control-group">
          <div class="form-group floating-label-form-group controls mb-0 pb-2">
            <label>Dirección (Número)</label>
            <input class="form-control" style="color:#ffffff;background-color:transparent" id="name" type="text" placeholder="Número" required="required" data-validation-required-message="Please enter your name.">
            <p class="help-block text-danger"></p>
          </div>
          </div>
          <div class="control-group">
          <div class="form-group floating-label-form-group controls mb-0 pb-2">
            <label>Ciudad</label>
            <input class="form-control" style="color:#ffffff;background-color:transparent" id="name" type="text" placeholder="Ciudad" required="required" data-validation-required-message="Please enter your name.">
            <p class="help-block text-danger"></p>
          </div>
          </div>
          <br>
          <div id="success"></div>
          <!--<div class="form-group">
          <button type="submit" class="btn btn-primary btn-xl" id="sendMessageButton">Send</button>
          </div> -->
          </div>
         </form>
      </div>
      </div>

  <!-- FIN TABLA ----------------------------------------------------------------------------------------->

          <p class="mb-5"><br>En cumplimiento de lo previsto por el artículo 5 de la LOPD, se informa que
    los datos de carácter personal que se recaban directamente del usuario a través de los distintos
    recursos disponibles en el portal, serán tratados de forma confidencial</p>
          <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
            <i class="fa fa-close"></i>
            Cerrar
    </a>
          <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
            <i class="fa fa-check"></i>
            Enviar
    </a>
        </div>
    </div>
  </div>
</div>
</div>

<!-- FIN MIS DATOS -------------------------------------------------------------------------------->

<!-- Portfolio Modal MOVIMIENTOS -->
<div class="portfolio-modal mfp-hide letra-coda" id="portfolio-modal-movimientos">
  <div class="portfolio-modal-dialog bg-fondoverde">
    <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
      <i class="fa fa-3x fa-times"></i>
    </a>
    <div class="container text-center">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h3 class="text-secondary mb-0">Movimientos</h3>
          <hr class="star-dark mb-5">
          <!--<img class="img-fluid mb-5" src="img/cuentas.png" alt="">-->

<!-- INICIO TABLA ----------------------------------------------------------------------------------->
    <h5 align="center" style="color:#9e9406">IBAN: ES43 34343 43434 4444 04019 · La cuenta de mi padre</h5>

                          <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <th class="text-center">
                                            <h6><strong>Fecha de operación</strong></h6>
                                        </th>
                                        <th>
                                            <h6><strong>Descripción</strong></h6>
                                        </th>
                                        <th>
                                             <h6><strong>Categoría</strong></h6>
                                        </th>
                                        <th class="text-right">
                                            <h6><strong>Importe</strong></h6>
                                        </th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-center">
                      25/01/2007
                                            </td>
                                            <td>
                                                Cumpleaños Fran
                                            </td>
                                            <td>
                                                Ocio
                                            </td>
                                            <td class="text-right">
                                                $36,738
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">
                      21/04/2013
                                            </td>
                                            <td>
                                                Cena
                                            </td>
                                            <td>
                                                Ocio
                                            </td>
                                            <td class="text-right">
                                                $345,38
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">
                      04/08/1937
                                            </td>
                                            <td>
                                                Inversión largo plazo
                                            </td>
                                            <td>
                                                Financiación
                                            </td>
                                            <td class="text-right">
                                                $36,738
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

  <!-- FIN TABLA ----------------------------------------------------------------------------------------->

          <p class="mb-5">Mi carro, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
          <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
            <i class="fa fa-close"></i>
            Cerrar</a>
        </div>
    </div>
  </div>
</div>
</div>



<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-to-top d-lg-none position-fixed ">
  <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
    <i class="fa fa-chevron-up"></i>
  </a>
</div>




<!-- FIN MAQUETA HTML --------------------------------------------------------------------------------->


<!--
    <div class="row">
      <template is="dom-if" if="{{cierto}}" restamp>
        <h4 class="col-4">Se han recuperado las cuentas</h4>
      </template>
        <table class="table table-striped">
             <thead>
               <th>Indice</th>
               <th>IBAN</th>
             </thead>
             <tbody>
               <template is="dom-repeat" items="{{cuentas}}">
                 <tr>
                   <td>{{index}}</td>
                   <td>{{item.iban}}</td>
                   <td>
                     <a class="btn btn-info" href="/movimientos/[[item.iban]]">Ver Movimientos</a>
                   </td>
                 </tr>
               </template>
             </tbody>
           </table>

<!--
      <template is="dom-repeat" items="{{cuentas}}">
        <span>{{item.iban}} <a class="btn btn-info" href="/movimientos/[[item.iban]]"> Ver movimientos </a>   <br></span>
      </template> -->
    </div>

-->

  </template>

  <script>
    /**
     * `visor-cuentas`
     *
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class EscritorioGotham extends Polymer.Element {
      static get is() { return 'escritorio-gotham'; }
      static get properties() {
        return {
          idcliente: {
            type: Number,
          },
          cierto: {
            type: Boolean,
            value: false,
          },
          cuentas: {
            type: Array,
            value: [],
          }
        };
      }

      mostrarCuentas(resultado) {
        //console.log(resultado.detail.response)
        //console.log(resultado.detail.response[0].iban)
        this.cuentas=resultado.detail.response
        this.cierto = true
        console.log(this.cuentas.length)
        console.log("cierto vale "+this.cierto)

      }
      mostrarErrorCuentas(error) {
        console.log(error.detail.response)
        this.cierto = false
        this.cuentas = []
      }

      pintarCuentas(e) {
        this.$.obtenerCuentas.generateRequest()
        console.log("------->>>>> Pinto cuentas gracias al EVENTO")
      }


      // Este es método que va a armar la llamada al API informando los headers
      armarInvocacion(){

        this.$.obtenerCuentas.generateRequest()
        console.log("------->>>>> Petición de cuentas enviada")

      }

    }

    window.customElements.define(EscritorioGotham.is, EscritorioGotham);
  </script>
</dom-module>
